{% extends 'index.html' %}
{% block content %}
<main id="main" style="padding-top: 100px;">
</main>
<a href="{% url 'account' %}" class="btn btn-secondary mt-3">Go back</a>
    {% for order in orders %}
        <div class="list-group-item">
            <p class="mb-1">User {{ order.user }}</p>
            <p class="mb-1">Name: {{ order.first_name }}</p>
            <p class="mb-1">Last name: {{ order.last_name }}</p>
            <p class="mb-1">Email: {{ order.email }}</p>
            <p class="mb-1">Address: {{ order.address }}</p>
            <p class="mb-1">City: {{ order.city }}</p>
            <p class="mb-1">Country: {{ order.country }}</p>
            <p class="mb-1">Index: {{ order.zip_code }}</p>
            <p class="mb-1">Phone: {{ order.telephone }}</p>
            <p class="mb-1">Order code: {{ order.order_code }}</p>
            <p class="mb-1">Purchased: {{ order.products }}</p>
            {% if order.processed %}
            <p class="text-success">Order processed</p>
            {% else %}
            <p class="text-success">Order in progress</p>
            {% endif %}
        </div>  
    {% endfor %}
{% endblock %}
