{% extends 'index.html' %}
{% block content %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер Apple Техніки</title>
</head>
<body>

    <header>
        <h1>Менеджер Apple Техніки</h1>
    </header>

    <nav>
        <a href="#">Головна</a> |
        <a href="#">Продукція</a> |
        <a href="#">Контакти</a>
    </nav>

    <section>
        <h2>Ласкаво просимо до нашого сайту!</h2>
        <p>Ми пропонуємо широкий вибір продукції Apple, включаючи iPhone, iPad, MacBook та інше.</p>
        <p>Наші фахівці готові допомогти вам обрати та придбати найкращий продукт для ваших потреб.</p>
    </section>


</body>
{% endblock %}