{% extends 'index.html' %}

{% block content %}
<main id="main" style="padding-top: 100px;">
</main>
    <h1>Order search results</h1>
    <form method="get" action="{% url 'manager:search_order' %}">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    {% if orders %}
        <ul>
            {% for order in orders %}
            <p class="mb-3">{{ order.order_code }} - Order found</p>
            <p class="mb-1">User: {{ order.user }}</p>
            <p class="mb-1">Name: {{ order.first_name }}</p>
            <p class="mb-1">Last name: {{ order.last_name }}</p>
            <p class="mb-1">Email: {{ order.email }}</p>
            <p class="mb-1">Address: {{ order.address }}</p>
            <p class="mb-1">City: {{ order.city }}</p>
            <p class="mb-1">Country: {{ order.country }}</p>
            <p class="mb-1">Index: {{ order.zip_code }}</p>
            <p class="mb-1">Phone: {{ order.telephone }}</p>
            <p class="mb-1">Order code: {{ order.order_code }}</p>
            <p class="mb-1">Purchased products: {{ order.products }}</p>
            <p class="mb-1">Processed: {{ order.processed }}</p>

            {% if not order.processed %}
            <a href="{% url 'manager:edit_checkout' pk=order.id %}" class="btn btn-primary btn-sm float-right">Confirm</a>
        {% else %}
            <p class="text-success">Order processed</p>
        {% endif %}
            
            {% endfor %}
        </ul>
    {% else %}
        <p>Order not found.</p>
    {% endif %}
    <a href="{% url 'manager:confirmed_orders' %}" class="btn btn-secondary mt-3">View processed orders</a>
    <a href="{% url 'manager:index' %}" class="btn btn-secondary mt-3">View order</a>

    
{% endblock %}
