{% extends 'index.html' %}

{% block content %}
<main id="main" style="padding-top: 100px;">
</main>
    <h1>Результати пошуку замовлення</h1>
    <form method="get" action="{% url 'manager:search_order' %}">
        {{ form.as_p }}
        <button type="submit">Пошук</button>
    </form>

    {% if orders %}
        <ul>
            {% for order in orders %}
            <p class="mb-3">{{ order.order_code }} - Замовлення знайдено</p>
            <p class="mb-1">Ім'я: {{ order.user }}</p>
            <p class="mb-1">Ім'я: {{ order.first_name }}</p>
            <p class="mb-1">Прізвище: {{ order.last_name }}</p>
            <p class="mb-1">Електронна пошта: {{ order.email }}</p>
            <p class="mb-1">Адреса: {{ order.address }}</p>
            <p class="mb-1">Місто: {{ order.city }}</p>
            <p class="mb-1">Країна: {{ order.country }}</p>
            <p class="mb-1">Індекс: {{ order.zip_code }}</p>
            <p class="mb-1">Телефон: {{ order.telephone }}</p>
            <p class="mb-1">Код замовлення: {{ order.order_code }}</p>
            <p class="mb-1">Придбані товари: {{ order.products }}</p>
            <p class="mb-1">Оброблено: {{ order.processed }}</p>

            {% if not order.processed %}
            <a href="{% url 'manager:edit_checkout' pk=order.id %}" class="btn btn-primary btn-sm float-right">Підтвердити</a>
        {% else %}
            <p class="text-success">Замовлення оброблено</p>
        {% endif %}
            
            {% endfor %}
        </ul>
    {% else %}
        <p>Замовлення не знайдено.</p>
    {% endif %}
    <a href="{% url 'manager:confirmed_orders' %}" class="btn btn-secondary mt-3">Переглянути оброблені замовлення</a>
    <a href="{% url 'manager:index' %}" class="btn btn-secondary mt-3">Переглянути резервації</a>
{% endblock %}
