<section id="subscribe" class="container-grid padding-large position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
                <div class="col-md-6 col-sm-12">
                    <div class="display-header pe-3">
                        <h2 class="display-7 text-uppercase text-light">Subscribe Us Now</h2>
                        <p>Get latest news, updates and deals directly mailed to your inbox.</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <form method="post" action="{% url 'store:home' %}#subscribe">

                        {% csrf_token %}
                        {{ form_emails.as_p }}
                        {{ form_emails.email.errors }}
                        <button type="submit" class="btn btn-medium btn-primary text-uppercase btn-rounded-none">Subscribe</button>
                    </form>
                    {% if messages %}
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </section>
  